body {
    display: flex;
    text-align: center;
    justify-content: center;
}

#title {
    
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}