body {
    display: flex;
    text-align: center;
    justify-content: center;
}

.title {
    color: aliceblue;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}